<h1 class="section-header">About the band</h1>

<h4 class="section-header">Firstly! Where the hell does the name come from?</h4>
<p>"Don't have a cow man!" - Bart Simpson</p>

<p class="section-header">Indie on the go - It's a new thing</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis reprehenderit molestias perspiciatis quibusdam voluptate porro ex nesciunt ipsa eius beatae possimus cupiditate, perferendis sequi cumque ducimus nihil quae sed corrupti.
</p>
