<table>
	<tbody>
		<tr>
			<td><h2>A very warm welcome!</h2></td>
		</tr>
		<tr>
			<td><p>Thank you for signing up with <%= @appname %>!</p></td>
		</tr>
		<tr>
			<td><p><strong>Mooooch love - Your fellow paraders!</strong></p></td>
		</tr>
	</tbody>
</table>